.px-15{
	padding-right:-15px !important;
	padding-left:-15px !important;
}

.border-noleft{
	border-right: 1px solid $lightGray;
	border-bottom: 1px solid $lightGray;
	border-top: 1px solid $lightGray;
	@include respondmax(lg){
		border: none !important;
	}
}

.border-gray{
	border: 1px solid $lightGray;
	@include respondmax(lg){
		border: none !important;
	}
}
